# Visual Studo Code
.vscode

# Datasets and models
data/
models/
train/logs/
train/plots/
*.pdf

# Python
__pycache__
env/

# Mac OS
.DS_Store

# MATLAB
audioplugin/
assets/
builds/
testbench*.m
*.m~
*.vst
*.component

